/* REGLAS DE CSS
-Selectores
-Declaraciones
-Propiedades
-Valores */

/* Seleceto de Etiqueta <Header> <Section> <p> 
-Header{
  background: pink;
*/

/* Selectores Descendentes 
-body header div nav ol il a*/

/* Selector de Clase -alfa 
.alfa*/

/* Selector de ID #logros
#logros */

html{
  background-color: #e9ebee ;
}

.Reliquias-t{
  display: block;
  padding: 15px;
 }

 .Contenedor-P{
   border: 2px solid #000000;
   -webkit-box-shadow: -6px 9px 19px -2px rgba(16,12,69,1);
   -moz-box-shadow: -6px 9px 19px -2px rgba(16,12,69,1);
   box-shadow: -6px 9px 19px -2px rgba(16,12,69,1);
   background-color: white;
   width: 340px;
   border-radius: 10px;
   overflow: hidden;
 }
 
 .Logros-1{
   margin: 0;
   padding: 0;
 }
 .T-D{
  text-align: center; 
  margin-top: -75px;
  padding-top: -20;
  position: relative;
  background-color: white;
}

 .Parrafo-GG{
   margin: 15px;
   padding: 7px;
   text-align: left ;
   position: relative;
   background-color: white;
 }

 #dora{
   object-fit: cover;
   margin: 0;
   padding: 0;
 }


.Cuerpo{
  width: 1150px;
  margin: 0 auto;
}

.Arriba{
  background: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero{
  display: flex;
  background-color: black;
  margin: none;
  padding: none;
  justify-content: space-between;
}

body section h1{
 vertical-align: middle;
 margin-left: 25px;
 padding-top: 50px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
}


body section h1 strong{
  color: aqua;
}

body{
  font-family: 'Work Sans', Sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Noto Sans', Sans-serif;
}

body header nav ol a{
 text-decoration: none;
 list-style: none;
 font-size: 15px;
}

body header div img{
  margin-left: 15px;
}

h1{
  text-transform: capitalize;
}

body h3{
  line-height: 0px;
}

body header nav ol a{
  color: white;
  
}

.Menu ol{
  display: flex;
}

.Link-Historia{
  margin-right: 20px;
}

.Abajo{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.parrafo_emoji{
  color: white ;
  font-size: 13px;
  margin: 16px 0px;
  vertical-align: center;
}

.Abajo a{
  text-decoration: none;
  color: aqua;
}

.Abajo p{
  color: white;
  margin-bottom: 16px;
}

.designer{
  margin-right: 30px;
}

.parrafo_emoji{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.Abajo img{
  vertical-align: middle;
}

footer p a{
  font-size: 13px;
  
}

footer .diseno{
  font-size: 14px;
  margin-right: 25px;
}

.IP{
  padding: 20px;
  margin-top: 4px;
}

.Linea{
  border: 0; height: 6px; box-shadow: inset 0 12px 12px -12px aqua;
  margin: 0px;
  padding: 0px;
}

.Logros{
 margin: 0px;
 padding: 0px;
}














