/* REGLAS DE CSS
-Selectores
-Declaraciones
-Propiedades
-Valores */

/* Seleceto de Etiqueta <Header> <Section> <p> 
-Header{
  background: pink;
*/

/* Selectores Descendentes 
-body header div nav ol il a*/

/* Selector de Clase -alfa 
.alfa*/

/* Selector de ID #logros
#logros */
.Arriba{
  background: black;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero{
  display: flex;
  background-color: black;
  margin: none;
  padding: none;
  justify-content: space-between;
}

body section h1{
  margin: 0px;
  padding: 0px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

body section h1 strong{
  color: aqua;
}

body{
  font-family: 'Work Sans', Sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Noto Sans', Sans-serif;
}

body header nav ol a{
 text-decoration: none;
 list-style: none;
 font-size: 15px;
}

body header div img{
  margin-left: 15px;
}

h1{
  text-transform: capitalize;
}

body h3{
  line-height: 0px;
}



body header nav ol a{
  color: white;
  
}


.Menu ol{
  display: flex;
}

.Link-Historia{
  margin-right: 20px;
}

.Abajo{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.parrafo_emoji{
  color: white ;
  font-size: 13px;
  margin: 16px 0px;
  vertical-align: center;
}

.Abajo a{
  text-decoration: none;
  color: aqua;
}

.Abajo p{
  color: white;
  margin-bottom: 16px;
}

.designer{
  margin-right: 30px;
}

.parrafo_emoji{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.Abajo img{
  vertical-align: middle;
}

footer p a{
  font-size: 13px;
  
}

footer .diseno{
  font-size: 14px;
  margin-right: 25px;
}







